a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,thead,time,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%;}
html,body{height:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
b,strong{font-weight:bold;}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic;border:none}
li{display:list-item;}
caption{font-weight:normal;vertical-align:top;text-align:left;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
sub,sup,small{font-size:75%;}
sub,sup{line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
svg{overflow:hidden;}
h1{font-size:25px;font-weight:normal;}
h2{font-size:23px;font-weight:normal;}
h3{font-size:21px;}
h4{font-size:19px;}
h5{font-size:17px;}
h6{font-size:15px;}
ol{list-style:decimal;}
ul{list-style:disc;}
a{outline:none;text-decoration:none;color:#fff;}
input.tmpFocused{background:lightblue !important;}
body,form,table,input,pre,code{margin:0;padding:0;font:normal 12px/1.5 Arial, Tahoma;color:#ABABAB;}
.bold{font-weight:bold}
.form{border:solid 1px #C6B7A0;height:20px;line-height:20px;color:#454545;font-size:11px;}
.clear{clear:both;font-size:0;padding:0;margin:0;line-height:0;}
.clear5{clear:both;size:0px;height:5px;}
.clear10{clear:both;size:0px;height:10px;}
.clear20{clear:both;size:0px;height:20px;}
.left{float:left;}
.right{float:right;}
.floatLeft{float:left;}
.floatRight{float:right;}
.w1000{width:1000px;margin:0 auto}
.w100{width:100%}
.dox1{background:url(../images/dox1.html) repeat-x center;height:10px;overflow:hidden;width:99%;}
.dox11{background:url(../images/dot_x.html) repeat-x center;height:10px;padding:8px 0;overflow:hidden;width:100%;}
.dox2{background:url(../images/dox2.html) repeat-x center;height:10px;overflow:hidden;width:99%;}
.dox3{background:url(../images/dox2.html) repeat-x center;height:3px;overflow:hidden;width:99%;}
.dot_y{background:url(../images/dot_y.html) repeat-y left;width:2px;overflow:hidden}
.css3{}
.radius5{border-radius:5px;}
.radius3{border-radius:3px;}
.bg_radius{text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:#666 0px 0px 6px;-moz-box-shadow:#666 0px 0px 6px;box-shadow:#666 0px 0px 6px;}
.through{text-decoration:line-through;color:#989898;}
.cur{cursor:pointer}
.textCenter{text-align:center}.textJus{text-align:justify}.textLeft{text-align:left}.textRight{text-align:right}
.textUp{text-transform:uppercase}.textLow{text-transform:lowercase}
.font10{font-size:10px;}.font11{font-size:11px;}.font12{font-size:12px;}.font13{font-size:13px;}.font14{font-size:14px;}.font15{font-size:15px;}
.font16{font-size:16px;}.font17{font-size:17px;}.font18{font-size:18px;}.font19{font-size:19px;}.font20{font-size:20px;}
.font21{font-size:21px;}.font22{font-size:22px;}.font23{font-size:23px;}.font24{font-size:24px;}.font25{font-size:25px;}
.fontTahoma{font-family:tahoma;}
.pad5{padding:5px}.pad10{padding:10px}.pad5{padding:5px}.pad7{padding:7px}.pad15{padding:15px}.pad20{padding:20px}.pad30{padding:30px}.pad50{padding:50px}
.pad0{padding:0px}.pad1{padding:1px}.pad2{padding:2px}.pad3{padding:3px}.pad4{padding:4px}.pad5{padding:5px}.pad10{padding:10px}.pad15{padding:15px}.pad20{padding:20px}
.padt1{padding-top:1px}.padt2{padding-top:2px}.padt3{padding-top:3px}.padt4{padding-top:4px}.padt5{padding-top:5px}.padt10{padding-top:10px}.padt15{padding-top:15px}.padt20{padding-top:20px}.padt25{padding-top:25px}
.padb1{padding-bottom:1px}.padb2{padding-bottom:2px}.padb3{padding-bottom:3px}.padb4{padding-bottom:4px}.padb5{padding-bottom:5px}.padb10{padding-bottom:10px}.padb15{padding-bottom:15px}.padb20{padding-bottom:20px}.padb35{padding-bottom:35px}
.padl1{padding-left:1px}.padl2{padding-left:2px}.padl3{padding-left:3px}.padl4{padding-left:4px}.padl5{padding-left:5px}.padl8{padding-left:8px}.padl10{padding-left:10px}.padl15{padding-left:15px}.padl20{padding-left:20px}.padl50{padding-left:50px}
.padr1{padding-right:1px}.padr2{padding-right:2px}.padr3{padding-right:3px}.padr4{padding-right:4px}.padr5{padding-right:5px}.padr10{padding-right:10px}.padr15{padding-right:15px}.padr20{padding-right:20px}
.padtb1{padding:1px 0px}.padtb2{padding:2px 0px}.padtb3{padding:3px 0px}.padtb4{padding:4px 0px}.padtb5{padding:5px 0px}.padtb10{padding:10px 0px}.padtb15{padding:15px 0px}.padtb20{padding:20px 0px}.padtb35{padding:35px 0px}
.padlr1{padding:0px 1px}.padlr2{padding:0px 2px}.padlr3{padding:0px 3px}.padlr4{padding:0px 4px}.padlr5{padding:0px 5px}.padlr10{padding:0px 10px}.padlr15{padding:0px 15px}.padlr20{padding:0px 20px}.padlr30{padding:0px 30px}.padlr50{padding:0px 50px}
.mar0{margin:0px}.mar1{margin:1px;}.mar2{margin:2px}.mar3{margin:3px}.mar4{margin:4px}.mar5{margin:5px}.mar10{margin:10px}.mar20{margin:20px}
.mart1{margin-top:1px}.mart2{margin-top:2px}.mart3{margin-top:3px}.mart4{margin-top:4px}.mart5{margin-top:5px}.mart10{margin-top:10px}.mart15{margin-top:15px}.mart20{margin-top:20px}.mart25{margin-top:25px}.mart30{margin-top:30px}
.marb1{margin-bottom:1px}.marb2{margin-bottom:2px}.marb3{margin-bottom:3px}.marb4{margin-bottom:4px}.marb5{margin-bottom:5px}.marb10{margin-bottom:10px}.marb15{margin-bottom:15px}.marb20{margin-bottom:20px}.marb25{margin-bottom:25px}
.marl1{margin-left:1px}.marl2{margin-left:2px}.marl3{margin-left:3px}.marl4{margin-left:4px}.marl5{margin-left:5px}.marl7{margin-left:7px}.marl8{margin-left:8px}.marl10{margin-left:10px}#marl10{margin-left:10px}#marl15{margin-left:15px}.marl15{margin-left:15px}.marl20{margin-left:20px}
.marr1{margin-right:1px}.marr2{margin-right:2px}.marr3{margin-right:3px}.marr4{margin-right:4px}.marr5{margin-right:5px}.marr10{margin-right:10px}.marr15{margin-right:15px}.marr20{margin-right:20px}
.martb1{margin:1px 0px}.martb2{margin:2px 0px}.martb3{margin:3px 0px}.martb4{margin:4px 0px}.martb5{margin:5px 0px}.martb10{margin:10px 0px}.martb15{margin:15px 0px}.martb20{margin:20px 0px}
.marlr1{margin:0px 1px}.marlr2{margin:0px 2px}.marlr3{margin:0px 3px}.marlr4{margin:0px 4px}.marlr5{margin:0px 5px}.marlr10{margin:0px 10px}.marlr15{margin:0px 15px}.marlr20{margin:0px 20px}
#toTop{z-index:9999;float:right;opacity:.8;position:fixed;bottom:1px;right:1px;font-size:20px;text-align:center;color:#fff;cursor:Pointer;display:none;font-size:0px;background:url(../images/bg_bt.html) no-repeat center;height:64px;width:64px;line-height:64px;}
#dhtmltooltip{font-size:10pt;z-index:9998;left:-250px;visibility:hidden;font-family:Arial;position:absolute;background-color:#F5F5F5;border:solid 1px #A0A0A0;width:300px;text-align:left;}
#dhtmlpointer{z-index:9999;left:-320px;visibility:hidden;position:absolute;}
.toottip{padding:5px;}
.address{background:url(../images/icon_cat.html) 0 2px no-repeat;padding-left:15px;}
.address a{font-family:MyriadPro;font-size:16px;}
.address span{font-family:MyriadPro;font-size:16px;color:#D65800}
.addressdetail{background:url(../images/home.html) no-repeat;padding-left:30px;padding-top:7px;height:19px;overflow:hidden;}
.addressdetail a{color:#333333;}
.addressdetail font{font-size:13px;color:#FF4800;font-weight:bold;text-transform:uppercase;}
.phantrang{padding:10px;text-align:right;color:#CF0505;clear:both;height:15px;}
.phantrang img{padding:0px 3px 2px 3px;height:16px;width:16px;}
.page{margin-top:1px;}
.phantrang a span{text-decoration:none;padding:1px 4px;}
.page span{color:#CF0505;border:solid 1px #E8E8E8;padding:1px 4px;}
.page span:hover{color:#FFFFFF;border:solid 1px #E8E8E8;background:#CF0505;}
.pageselect{color:#FFFFFF;border:solid 1px #E8E8E8;background:#CF0505;padding:1px 4px;}
.pageselect span{color:#FFFFFF;}
.g_pages_tool .m_pages_tool .page_break a:hover,
.g_pages_tool .m_pages_tool .page_break a.selected{background:url(../images/template/sort_bg1.png) repeat-x;color:#ffffff;}
.g_pages_tool .m_pages_tool{height:34px;}
.g_pages_tool .m_pages_tool .page_break{float:right;padding-right:15px;}
.g_pages_tool .m_pages_tool .page_break a{display:block;float:left;height:21px;line-height:21px;border:1px solid #b2b2b2;padding:0 10px;background:url(../images/template/sort_bg.png) repeat-x;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#252525;margin:5px 0 0 5px;}
.g_pages_tool .m_pages_tool .page_break a.page-of:hover{background:url(../images/template/sort_bg.png) repeat-x;color:#252525;}
.g_pages_tool .m_pages_tool .page_break span{display:block;float:left;height:21px;line-height:21px;margin:2px 0 0 5px;}
#page-break .product-page{display:inline-block;border:1px solid #3C3C3C;margin-right:6px;float:left;}
#page-break .product-page a{text-decoration:none;color:#3C3C3C;padding:1px 7px;}
#page-break .product-page:hover{background:#A11616;border-color:#A11616;}
#page-break .selected{text-decoration:none;color:#FFF;padding:1px 7px;background:#A11616;border-color:#A11616;}
#page-break .product-page:hover a,
#page-break .selected a{color:#FFF;font-weight:bold;}
.boxy-wrapper{position:absolute;}
.boxy-wrapper.fixed{position:fixed;}
.boxy-modal-blackout{position:absolute;background-color:black;left:0;top:0;}
.boxy-wrapper{empty-cells:show;}
.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left{width:10px;height:10px;padding:0}
.boxy-wrapper .top-left{background:url('../images/template/boxy-nw.png');}
.boxy-wrapper .top-right{background:url('../images/template/boxy-ne.png');}
.boxy-wrapper .bottom-right{background:url('../images/template/boxy-se.png');}
.boxy-wrapper .bottom-left{background:url('../images/template/boxy-sw.png');}
.boxy-wrapper .top-left{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/template/boxy-nw.png');}
.boxy-wrapper .top-right{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/template/boxy-ne.png');}
.boxy-wrapper .bottom-right{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/template/boxy-se.png');}
.boxy-wrapper .bottom-left{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/template/boxy-sw.png');}
.boxy-wrapper .top,
.boxy-wrapper .bottom{height:10px;background-color:aliceblue;opacity:0.6;filter:alpha(opacity=60);padding:0}
.boxy-wrapper .left-boxy,
.boxy-wrapper .right-boxy{width:10px;background-color:aliceblue;opacity:0.6;filter:alpha(opacity=60);padding:0}
.boxy-wrapper .title-bar{background-color:#3D3D3D;padding:6px;position:relative;}
.boxy-wrapper .title-bar.dragging{cursor:move;}
.boxy-wrapper .title-bar h2{font-size:12px;color:#FFFFFF !important;font-weight:bold;line-height:1;margin:0;padding:0;}
.boxy-wrapper .title-bar .close{position:absolute;top:6px;right:6px;font-size:90%;line-height:1;}
.boxy-inner{background-color:white;padding:0}
.boxy-content{padding:15px;}
.boxy-wrapper .question{width:350px;min-height:80px;color:#000;}
.boxy-wrapper .answers{text-align:right;}
.boxy-wrapper .answers input{cursor:pointer;border:#1E1E1E 1px solid;background:#000000;padding:1px 5px;}
.boxy-wrapper .answers input:hover{font-weight:bold;}
#homepage_h1{position:absolute;top:-9999px;}
#homepage_h1 h1{font-size:12px !important;color:#000000}
.finalstyle{float:right;color:#0A0A0A}
.finalstyle span{color:#0A0A0A;font-weight:bold}
.finalstyle a{color:#0A0A0A}
.finalstyle a:hover{color:#0A0A0A}
.finalstyle a:hover span{color:#0A0A0A;}